$backgroundColor: #f1f1f1;

$primaryColor: #f47a20;
$primaryColorHover: $primaryColor + #111;
$primaryColorActive: $primaryColor - #111;

$cardDropShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



body{
  background-color: $backgroundColor;
}

//buttons ----------------------------------------------------------------------
.btn{
  border-radius: 0;

  //primary
  &.btn-primary{
    background-color: $primaryColor;
    border-color: $primaryColor;
    border-radius: 0;

    &:hover{
      background-color: $primaryColorHover;
      border-color: $primaryColorHover;
    }
    &:active{
      background-color: $primaryColorActive;
      border-color: $primaryColorActive;
      outline: none;
    }
    &:focus{
      outline: none;
    }
  }
}

//login form ----------------------------------------------------------------------
.form-signin, .errorPageContents{
  max-width: 300px;
  margin: 0 auto;
  margin-top:100px;
  background-color: #fff;
  padding: 10px;
  box-shadow: $cardDropShadow;

  & .alert{
    text-align: justify;
    text-justify: inter-word;
  }
  & > input{
    border-radius: 0;
  }
  .loginLogo{
    width:200px;
  }
  .signupLink{
    text-align: center;
    padding-top: 5px;
  }
}
